@import url("./dependencies/normalize.css");

p {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Plaster', sans-serif;
}

.Posts {
    margin: 2vh 2vw;
    &__single {
        padding: 1vw;
        border: 1px solid darkgray;
        display: flex;
        flex-flow: column nowrap;

        h2 {
            font-size: 2em;
            text-transform: uppercase;
            margin: 0 20% 0 1.6em;
            line-height: 1em;
            position: absolute;
        }
        img { 
            width: 100%;
            height: 10vh;
            object-fit: cover;
        }
        &.active {
            img {
                height:auto;

            }
            h2 {
                font-size: 4em;
                margin: 1em;
                transition: all 0.75s;
            }
            .intro {
                position: 
            }
        }
    }
}